<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @group.language %>
</p>

<p>
  <b>Section:</b>
  <%= @group.section %>
</p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Footnote:</b>
  <%= @group.footnote %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
